@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --cobalt: #0019f8;
  --pink: #ffe9e9;
  --red: #f82d00;
  --mustard: #d9b700;
  --mint-green: #9ae4c0;
  --pale-green: #e3ffda;
  --black: #000;
}

body {
  font-family: "Courier Prime", monospace;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.dayMain {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding: 2rem;
  border-right: 2px solid var(--black);
  flex: 1;
}

.dayHeader {
  font-size: 42px;
}

.formHeader {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.formHeader h2 {
  font-size: 24px;
}

.dayOutput {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex: 1;
}

.addInputBtn {
  margin: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 40px;
  background-color: var(--pale-green);
  color: var(--cobalt);
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  box-shadow: 5px 0 5px 0 var(--black);
}

.addInputBtn:hover {
  background-color: var(--mint-green);
  transition: 0.3s;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-left: 2rem;
}

.dayInput {
  margin: 8px;
  padding: 1rem;
  font-size: 24px;
  border: 2px solid var(--black);
  width: 100%;
}